<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>bookstore</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
		<description>DB Local</description>
		<res-ref-name>jdbc/TestMYSQL_LOCAL</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
  </resource-ref>
  
  <resource-ref>
  	<description>DB AWS</description>
  	<res-ref-name>jdbc/TestMYSQL_AWS</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
  </resource-ref>
  <!--  getServletContext().getInitParameterNames();-->
  <context-param>
    <param-name>db</param-name>
    <param-value>jdbc/TestMYSQL_AWS</param-value>
 </context-param>
  
    <servlet>
  	<description>
  	</description>
  	<display-name>MemberServlet</display-name>
  	<servlet-name>MemberServlet</servlet-name>
  	<servlet-class>idv.backend.controller.MemberServlet</servlet-class>
  </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ProductServlet</display-name>
    	<servlet-name>ProductServlet</servlet-name>
    	<servlet-class>idv.product.controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DBGifReader</display-name>
    	<servlet-name>DBGifReader</servlet-name>
    	<servlet-class>idv.blob.reader.DBGifReader</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CustomerServlet</display-name>
    	<servlet-name>CustomerServlet</servlet-name>
    	<servlet-class>idv.customer.controller.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>BackCustomerServlet</display-name>
    	<servlet-name>BackCustomerServlet</servlet-name>
    	<servlet-class>idv.customer.controller.BackCustomerServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CartServlet</display-name>
    	<servlet-name>CartServlet</servlet-name>
    	<servlet-class>idv.cart.controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>OrdServlet</display-name>
    	<servlet-name>OrdServlet</servlet-name>
    	<servlet-class>idv.ord.controller.OrdServlet</servlet-class>
    </servlet>
  <servlet-mapping>
  	<servlet-name>MemberServlet</servlet-name>
  	<url-pattern>/backend/mem.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductServlet</servlet-name>
  	<url-pattern>/backend/prod.do</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>BackCustomerServlet</servlet-name>
  	<url-pattern>/backend/user.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DBGifReader</servlet-name>
  	<url-pattern>/reader/DBGifReader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerServlet</servlet-name>
  	<url-pattern>/user.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartServlet</servlet-name>
  	<url-pattern>/cart.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrdServlet</servlet-name>
  	<url-pattern>/ord.do</url-pattern>
  </servlet-mapping>

  
  </web-app>